doctype
html
	head
		base(href='/')
		title=serverName + ' - ' + pagetitle
		link(rel="stylesheet" href="public/css/home.css")
		meta(charset='utf-8')
		block bonushead

	body
		.container
			.container-fluid

			block body
